<!DOCTYPE html>
<h2><b>Detail of an Article</b></h3>
<hr>
<h3><b>{{article.title}}</b></h4>
<br>
<br>
<h5>
URL: <a href="{{article.url}}">{{article.url}}</a><br>
Posted by: <a href="/{{username}}">{{username}}</a><br>
<br>
{{article.description}}
</h5>
<hr>
</html>
